
.header {
    width: auto;
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    color: #272727;
    align-items: center;
    padding-bottom: 30px;

}

.header-title {
    background: #e55473;
    border-radius: 5px;
    border: 0;
    font-size: large;
    padding: 10px;
    color: white;
}

.section {
    text-align: center;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;

}

.section-imges {
    width: 300px;
    height: 420px;
}

.section-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 450px;
    text-align: center;
    color: rgb(48, 55, 42);
    margin: auto;
}


/* price section */
.folwer-text{
    display: flex;justify-content: space-around;
}
.price-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.price-image img{
    width: 300px;
}

.support-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    margin-top: 150px;
    height: 300px;
    margin: 0 auto;
    width: 1100px;
    justify-content: space-around;

}

.support-img {
    align-items: center;
}

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    width: auto;
    height: 400px;
    align-items: center;
    margin-top: 150px;

}

.hot-deal-buttom {
    background: #e55473;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    color: white;
}


.Instagram {
    text-align: center;

}

.instagram-container {
    display: flex;
    margin-top: 30px;
    padding-left: 40px;
    width: 340px;
    height: 390px;
    gap: 15px;
    margin-bottom: 70px;
}

.input-containe {
    background-image: url(Flowers/Rectangle\ 9.png);
    background-size: cover;
    height: 300px;
    margin-top: 70px;
    text-align: center;
    margin: 0 auto;
    margin-left: 200px;
    margin-right: 150px;
    padding: 30px;
}

.input-email {
    width: 500px;
    height: 40px;
    
}

.footer-container{
    background-color: #272727;
    color: white;
   text-align: center;
   height: 300px;
   width: auto;
   margin-top: 70px;
   padding: 40px;
}



.folwer-span{
    color: #e55473;
}


